
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    

    <title>Landing Page:</title>
    <%- include('partials/links.ejs') %>
  </head>

  <body class="text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <%- include('partials/header.ejs') %>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Take your Admission </h1>
        <p class="lead">This is a really awesome web app where you can do everything in one click.  don't warry this is safe.</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
      </main>

      <%- include('partials/footer.ejs') %>
    </div>
    <%- include('partials/flinks.ejs') %>
  </body>
</html>
